*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    background-color: grey;
    width: 400px;
    border-radius: 10px;
    padding: 30px;
}

img{
    height: 15vh;
    margin: 0 0 0 110px;
    border-radius: 50%;

}

.profile{
    text-align: center;
    margin: 20px;
}

p,h3,h4{
    margin: 5px;

}

.container-buttons{   
    display: flex;
    justify-content: center;
}

.container-buttons ul{
    list-style: none;
}

.container-buttons li{
    margin-bottom: 20px

}

.container-buttons button{
    border: none;
    width: 300px;
    background-color: greenyellow;
    padding: 10px;
    border-radius: 10px;

}

.container-buttons button:hover{
    background-color: yellow;

}
